[Desktop Entry]
Name=Discord PTB
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Path=/opt/DiscordPTB
Exec=/usr/bin/DiscordPTB
Icon=/opt/DiscordPTB/discord.png
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;
